<!DOCTYPE html>
<html>
<head>
	<title>This is the BLOG route!</title>
</head>
<body>
	<% include ../partials/header.ejs %>
	
	<h2>Hello, welcome to BLOG route! :)</h2>

	<% include ../partials/footer.ejs %>
</body>
</html>